<a href="https://colab.research.google.com/github/pkowalecki/machine-learning-piotr-kowalecki-175ic/blob/main/Zad.1/zad1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import sklearn;
import numpy as np;
import pandas as pd;
from sklearn.preprocessing import LabelEncoder;
from sklearn.preprocessing import StandardScaler;

In [48]:
data = {
'size':['S', 'M', 'L', 'XL', 'XXL', 'M', 'M', 'XXL', 'XL', 'S'],
'color':['green', 'red', 'blue', 'white', 'dark', 'yellow', 'grey', 'white', 'dark', 'yellow'],
'gender':['female','male', 'male', 'male', 'female', 'female', 'male', 'female', 'male', 'female',],
'price':[110.0, 120.0, 130.0, 140.0, 150.0, 160.0, 170.0, 180.0, 190.0, 200.0],
'weight':[250, 275, 300, 325, 350, 375, 400, 425, 450, 475],
'bought':['yes', 'no', 'no','yes','yes','yes','no','no','yes','no']
}

clothes = pd.DataFrame(data=data)
print(clothes)
clothesCopy = clothes.copy();

clothesCopy['weight'] = clothesCopy['weight'].astype('float64');

for col in ['size', 'color', 'gender', 'bought' ]:
  clothesCopy[col] = clothesCopy[col].astype('category');

  size   color  gender  price  weight bought
0    S   green  female  110.0     250    yes
1    M     red    male  120.0     275     no
2    L    blue    male  130.0     300     no
3   XL   white    male  140.0     325    yes
4  XXL    dark  female  150.0     350    yes
5    M  yellow  female  160.0     375    yes
6    M    grey    male  170.0     400     no
7  XXL   white  female  180.0     425     no
8   XL    dark    male  190.0     450    yes
9    S  yellow  female  200.0     475     no

In [ ]:
floats = clothesCopy.describe().T
categories = clothesCopy.describe(include=['category']).T
print(floats)
print(categories)

In [60]:
le = LabelEncoder()
le.fit_transform(clothesCopy['bought'])
clothesCopy['bought'] = le.fit_transform(clothesCopy['bought'])
clothesCopy

  size   color  gender  price  weight  bought
0    S   green  female  110.0   250.0       1
1    M     red    male  120.0   275.0       0
2    L    blue    male  130.0   300.0       0
3   XL   white    male  140.0   325.0       1
4  XXL    dark  female  150.0   350.0       1
5    M  yellow  female  160.0   375.0       1
6    M    grey    male  170.0   400.0       0
7  XXL   white  female  180.0   425.0       0
8   XL    dark    male  190.0   450.0       1
9    S  yellow  female  200.0   475.0       0

In [63]:
pd.get_dummies(data=clothesCopy, drop_first=True)

   price  weight  bought  ...  color_white  color_yellow  gender_male
0  110.0   250.0       1  ...            0             0            0
1  120.0   275.0       0  ...            0             0            1
2  130.0   300.0       0  ...            0             0            1
3  140.0   325.0       1  ...            1             0            1
4  150.0   350.0       1  ...            0             0            0
5  160.0   375.0       1  ...            0             1            0
6  170.0   400.0       0  ...            0             0            1
7  180.0   425.0       0  ...            1             0            0
8  190.0   450.0       1  ...            0             0            1
9  200.0   475.0       0  ...            0             1            0

[10 rows x 14 columns]

In [65]:
scaler = StandardScaler();
clothesCopy[['price', 'weight']] = scaler.fit_transform(clothesCopy[['price', 'weight']])

In [68]:
print(clothes)
print(clothesCopy)

  size   color  gender  price  weight bought
0    S   green  female  110.0     250    yes
1    M     red    male  120.0     275     no
2    L    blue    male  130.0     300     no
3   XL   white    male  140.0     325    yes
4  XXL    dark  female  150.0     350    yes
5    M  yellow  female  160.0     375    yes
6    M    grey    male  170.0     400     no
7  XXL   white  female  180.0     425     no
8   XL    dark    male  190.0     450    yes
9    S  yellow  female  200.0     475     no
  size   color  gender     price    weight  bought
0    S   green  female -1.566699 -1.566699       1
1    M     red    male -1.218544 -1.218544       0
2    L    blue    male -0.870388 -0.870388       0
3   XL   white    male -0.522233 -0.522233       1
4  XXL    dark  female -0.174078 -0.174078       1
5    M  yellow  female  0.174078  0.174078       1
6    M    grey    male  0.522233  0.522233       0
7  XXL   white  female  0.870388  0.870388       0
8   XL    dark    male  1.218544  1.218544       1
9    S  yellow  female  1.566699  1.566699       0